// Padding
.p-2by5 {
    padding: 2rem 5rem;
}

.p-3by5 {
    padding: 3rem 5rem;
}

.p-4by5 {
    padding: 3rem 5rem;
}

.p-5by5 {
    padding: 5rem 5rem;
}

// Scroll reveal
html.sr .load-hidden {
    visibility: hidden;
}