.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 7rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 999;

  &__logo {
    height: 5rem;
    width: 5rem;
    fill: $color-primary;
    display: inline-block;
  }
}