.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 7rem;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: $white;
  z-index: 999;

  @media (max-width: 42.38em) { // 678px
    height: 5rem;
  }

  &__logo {
    height: 5rem;
    width: 5rem;
    fill: $color-primary;
    display: inline-block;

    @media (max-width: 42.38em) { // 678px
      height: 3.5rem;
      width: 3.5rem;
    }
  }
}