.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);

    @media (max-width: 61em) { // 976px
        flex-direction: column-reverse;
        justify-content: center;
        text-align: center;
    }

    &__heading {
        text-transform: uppercase;
        color: $color-dark;

        &--primary {
            display: block;
            font-size: 3.75rem;
            font-weight: 800;
            margin-bottom: -.75rem;

            @media (max-width: 70.63em) { // 1330px
                font-size: 3rem;
            }

            @media (max-width: 42.38em) { // 678px
                font-size: 2.5rem;
            }

            @media (max-width: 25em) { // 400px
                font-size: 2rem;
            }
        }

        &--secondary {
            font-size: 2.5rem;
            font-weight: 500;

            @media (max-width: 70.63em) { // 1330px
                font-size: 2rem;
            }

            @media (max-width: 42.38em) { // 678px
                font-size: 1.9rem;
            }

            @media (max-width: 25em) { // 400px
                font-size: 1.5rem;
            }
        }
    }

    &__btn,
    &__btn:visited,
    &__btn:link {
        padding: 1rem 5rem;
        text-decoration: none;
        margin-top: 1.5rem;
        border: 2px solid transparent;
        transition: all .2s;

        @media (max-width: 70.63em) { // 1330px
            font-size: 1.5rem;
        }

        @media (max-width: 42.38em) { // 678px
            font-size: 1.4rem;
        }

        @media (max-width: 25em) { // 400px
            font-size: 1.3rem;
        }
    }

    &__photo {
        width: 40rem;
        height: auto;

        @media (max-width: 70.63em) { // 1330px
            width: 35rem;
        }

        @media (max-width: 42.38em) { // 678px
            width: 25rem;
        }
    }
}