.nav {
    display: flex;

    &__list {
        list-style-type: none;
        display: flex;

        @media (max-width: 25em) { // 400px
            display: none;
        }
    }

    &__menu {
        border: none;
        background-color: transparent;
        cursor: pointer;

        @media (min-width: 25em) { // 400px
            display: none;
        }
    }

    &__menu-icon {
        height: 2.5rem;
        width: 2.5rem;
        fill: $color-primary;

        &:focus {
            outline: none;
        }
    }

    &__item {
        position: relative;
    }

    &__item::before {
        content: "";
        height: 3px;
        left: 1.5rem;
        bottom: -.5rem;
        width: 0;
        position: absolute;
        background-color: $color-primary;
        transition: width .5s;
    }

    &__item:hover::before {
        width: 85%;
    }

    &__link {
        text-decoration: none;
        color: $color-dark;
        text-transform: uppercase;
        font-weight: 400;
        margin-left: 1.5rem;
        transition: color .2s;

        &:hover {
            color: $color-primary;
        }

        @media (max-width: 42.38em) { // 678px
            font-size: 1.3rem;
        }
    }
}